<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Areas/Admin/Assets/css/theme.css" rel="stylesheet" media="all">
    @RenderSection("Styles", required: false)
</head>
<body class="animsition">
    <div class="page-wrapper">

        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/Areas/Admin/Assets/images/icon/logo1.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Employee")">
                                <i class="fas fa-users"></i>Employee
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Company">
                                <i class="fas fa-building"></i>Company
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-rss-square"></i>
                                Policy
                                <i class="fa fa-angle-down float-right"></i>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Index", "Policy")">List Policies</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddPolicyOnEmployee", "Policy")">Add Policy on Emp</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("RequestPolicy", "Policy")">
                                <i class="fas fa-table"></i>Requests
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Hospital">
                                <i class="fas fa-hospital"></i>Hospital
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap float-right">

                            <div class="header-button">

                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/Areas/Admin/Assets/images/icon/hashicorp-h-avatar.png" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            @{
                                                var user = (ProjectAspMVC.Areas.Admin.Models.Bussiness.Admin)Session["Login"];
                                                <!---->
                                                //if (user == null)
                                                //{
                                                //    user = new ProjectAspMVC.Areas.Admin.Models.Bussiness.Admin();
                                                //}
                                                <!---->
                                                if (user != null)
                                                {
                                                    <a class="js-acc-btn" href="#">@user.User</a>
                                                }
                                            }

                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Areas/Admin/Assets/images/icon/hashicorp-h-avatar.png" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">

                                                    @if (user != null)
                                                    {
                                                        <h5 class="name">
                                                            <a href="#">@user.User</a>
                                                        </h5>
                                                        <span class="email">@user.Email</span>
                                                    }



                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="javascript: void(0)" id="medium_modal">
                                                        <i class="zmdi zmdi-account"></i>Change password
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/Admin/Log/Logout">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- modal medium -->
            <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumModalLabel">Change password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/" method="post" id="form-change-password">
                            <div class="modal-body">
                                <input type="hidden" name="username" id="username" value="@user.User" />
                                <label>Old Password</label>
                                <input type="password" class="form-control" name="password" id="password" value="" />
                                <label>New Password</label>
                                <input type="password" class="form-control" name="newpassword" id="newpassword" value="" />
                                <label>Repassword</label>
                                <input type="password" class="form-control" name="repassword" id="repassword" value="" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end modal medium -->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/Areas/Admin/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/Assets/vendor/slick/slick.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Areas/Admin/Assets/js/main.js"></script>
    <!-- Render Script -->
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var is_valid = false;
            $("#medium_modal").click(function () {
                $("#mediumModal").modal('show');
            });
            $("#repassword").keyup(function () {
                if ($("#repassword").val() == $("#newpassword").val()) {
                    is_valid = true;
                    $("#newpassword").removeClass("is-invalid");
                    $("#repassword").removeClass("is-invalid");
                    $("#newpassword").addClass("is-valid");
                    $("#repassword").addClass("is-valid");
                } else {
                    is_valid = false;
                    $("#repassword").removeClass("is-valid");
                    $("#repassword").addClass("is-invalid");
                }
            });
            $("#form-change-password").submit(function (e) {
                var _d = {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    newpassword: $("#newpassword").val()
                };
                if ($("#password").val() == "") {
                    is_valid = false;
                    $("#password").removeClass("is-valid");
                    $("#password").addClass("is-invalid");
                } else {
                    is_valid = true;
                    $("#password").removeClass("is-invalid");
                    $("#password").addClass("is-valid");
                }
                if (is_valid) {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Account/ChangePassword',
                        data: _d,
                        success: function (res) {
                            if (res == "success") {
                                alert("Change password success!");
                                $("#password").val("");
                                $("#newpassword").val("");
                                $("#repassword").val("");
                                $("#username").removeClass("is-valid is-invalid");
                                $("#password").removeClass("is-valid is-invalid");
                                $("#newpassword").removeClass("is-valid is-invalid");
                                $("#mediumModal").modal('hide');
                            } else {
                                alert("Change password fail!");
                                $("#password").removeClass("is-valid");
                                $("#password").addClass("is-invalid");
                            }
                        }
                    });
                }
                e.preventDefault();
            });
        });

    </script>

</body>
</html>
