@model HealthInsuranceService.Data.PolicyRequest

@{
    ViewBag.Title = "RequestDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        Request Detail
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RequestId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmployeeId)
                </dd>

                <dt>
                    Employee Name
                </dt>
                <dd>
                    @Model.Employee.FirstName @Model.Employee.LastName
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PolicyId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PolicyId)
                </dd>

                <dt>
                    Policy Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Policy.PolicyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

            </dl>
        </div>
    </div>
</div>